@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  // Fonts
  --monstserrat: 'Montserrat', sans-serif;

  //Colors
  --grayBgCard: #e5e5e5;
  --grayTextCard: #bdbdbd;
  --grayFrom: #a9a9a9;
  --grayFooter: #b9bdcf;
  --black: #4e5150;
}

html,
body {
  height: 100vh;
  min-width: 20rem;
  min-height: 44.8125rem;
  font-family: var(--monstserrat);
  color: var(--black);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spaceLateral {
  padding: 0 12px;

  @media screen and (min-width: 50rem) {
  }
}
