html,
body {
  color: var(--gray7);
  font-family: var(--montserrat);
  font-weight: 600;
  min-width: 320px;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
