@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

:root {
  //fonts
  --poppins: 'Poppins', sans-serif;
  --ptserif: 'PT Serif', serif;

  //weight
  --bold: 700;
  --semiBold: 600;
  --regular: 400;

  //colors
  --gray: #a9a9a9;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--poppins);
  width: 375px;
  margin: auto;

  @media screen and (min-width: 765px) {
    width: 100%;
    max-width: 1024px;
  }
}

.spaceLateral {
  padding: 0 18px;
}
