@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

:root {
  // Colors
  --gold: #f2994a;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
  --gray6: #f2f2f2;
  --gray7: #4e5150;

  // Fonts
  --montserrat: 'Montserrat', sans-serif;

  //sizes
  --title: 24px;
  --formTitle: 12px;
}

@media screen and (min-width: 900px) {
  :root {
    //sizes
    --title: 36px;
    --formTitle: 16px;
  }
}
