@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

// Colors
:root {
  --gray1: #333;
  --gray2: #4f4f4f;
  --gray3: #bdbdbd;
  --white: #fff;
}
