.main {
  margin: 0 auto;
  max-width: 960px;
  padding: 32px 12px 0;
}

@media screen and (min-width: 780px) {
  .main {
    padding-top: 64px;
  }
}

@media screen and (min-width: 780px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    gap: 40px;
  }
}

.title {
  font-weight: 600;
  font-size: var(--title);
  margin-bottom: 20px;
}

.info {
  background-color: var(--gray6);
  border-radius: 12px;
  height: 480px;
  margin-bottom: 40px;
  max-width: 383px;
  padding: 30px 26px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__articles {
  display: -ms-grid;
  display: grid;
  gap: 28px;
}

.info__article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 18px;
}

.info__image {
  width: 122px;
  height: 122px;
  border-radius: 13px;
}

.info__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__title {
  font-size: var(--formTitle);
  margin-bottom: 12px;
}

.info__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.info__price p:nth-child(1) {
  color: var(--gold);
  font-size: 14px;
}

.info__price p:nth-child(2) {
  font-size: 10px;
  text-decoration: line-through;
}

.info__accountant {
  border: 1px solid var(--gray3);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  width: 122px;
}

.info__res, .info__sum {
  background-color: var(--gray5);
  height: 19px;
  width: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  color: var(--gray3);
  cursor: pointer;
  border: none;
}

.info__result {
  color: var(--gray1);
}

.info__totals {
  width: 100%;
}

.info__totals div {
  border-top: 1px solid var(--gray4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
}

.info__totals div:nth-child(2) {
  padding-bottom: 0;
}

.info__totals p {
  color: var(--gray1);
}

.form {
  max-width: 465px;
}

.form__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 45px;
}

.form .error .form__label {
  color: red;
}

.form .error .form__label::after {
  content: '* Required';
  color: red;
}

.form .error .form__input,
.form .error .form__select {
  border: 1px solid red;
}

.form .error .material-icons {
  color: red;
}

.form__title {
  font-size: 14px;
  color: var(--gray1);
  margin-bottom: 8px;
}

.form__label {
  font-size: 10px;
  color: var(--gray2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.form__group {
  position: relative;
  width: 100%;
}

.form__group span:nth-child(3) {
  right: 12px;
  left: initial;
  z-index: -1;
}

.form__input, .form__select {
  height: 40px;
  width: 100%;
  border: 1px solid var(--gray3);
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 12px;
  font-size: 12px;
  color: var(--gray1);
  font-family: var(--montserrat);
  font-weight: 600;
  outline-style: none;
  padding-left: 40px;
}

.form__input:hover, .form__select:hover {
  border: 1px solid var(--gold);
  color: var(--gold);
}

.form__input:hover + .material-icons,
.form__input:hover + .material-icons + .material-icons, .form__select:hover + .material-icons,
.form__select:hover + .material-icons + .material-icons {
  color: var(--gold);
}

.form__input:focus, .form__select:focus {
  border: 1px solid var(--gold);
  color: var(--gold);
}

.form__input:focus + .material-icons,
.form__input:focus + .material-icons + .material-icons, .form__select:focus + .material-icons,
.form__select:focus + .material-icons + .material-icons {
  color: var(--gold);
}

.form__groupItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 8px;
}

.form__groupCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.form__checkbox {
  height: 15px;
  width: 15px;
}

.form__button {
  background-color: var(--gold);
  border: none;
  color: #fff;
  width: 166px;
  height: 54px;
  border-radius: 12px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-family: var(--montserrat);
  font-size: 16px;
  margin-top: 37px;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.form__button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.form__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.material-icons {
  color: var(--gray3);
  font-size: 15px;
  position: absolute;
  top: calc(50% - 7.5px);
  left: 12px;
}

.message {
  background-color: green;
  color: white;
  padding: 5px;
  text-align: center;
  margin-bottom: 45px;
  display: none;
}

.message.active {
  display: inline-block;
}

.footer {
  color: var(--gray4);
  font-size: 14px;
  text-align: center;
  padding-bottom: 24px;
}

@media screen and (min-width: 900px) {
  .info {
    height: 535px;
  }
  .info__articles {
    gap: 31px;
  }
  .info__article {
    gap: 21px;
  }
  .info__image {
    width: 134px;
    height: 134px;
  }
  .info__title {
    font-size: var(--formTitle);
  }
  .info__price p:nth-child(1) {
    font-size: 16px;
  }
  .info__price p:nth-child(2) {
    font-size: 12px;
  }
  .info__res, .info__sum {
    height: 21px;
    width: 21px;
  }
  .info__totals div {
    font-size: 16px;
  }
  .form__contacto {
    margin-bottom: 58px;
  }
  .form__group span:nth-child(3) {
    right: 14px;
  }
  .form__title {
    font-size: 18px;
  }
  .form__label {
    font-size: 12px;
  }
  .form__input, .form__select {
    font-size: 16px;
    height: 56px;
  }
  .form__groupItems {
    gap: 31px;
  }
  .form__groupCheck {
    gap: 11px;
  }
  .form__checkbox {
    height: 21px;
    width: 21px;
  }
  .material-icons {
    font-size: 20px;
    top: calc(50% - 14px);
    left: 14px;
  }
}
/*# sourceMappingURL=styles.css.map */