.main {
  margin: 0 auto;
  max-width: 960px;
  padding: 32px 12px 0;

  @media screen and (min-width: 780px) {
    padding-top: 64px;
  }
}

.content {
  @media screen and (min-width: 780px) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;
    gap: 40px;
  }
}

.title {
  font-weight: 600;
  font-size: var(--title);
  margin-bottom: 20px;
}

.info {
  background-color: var(--gray6);
  border-radius: 12px;
  height: 480px;
  margin-bottom: 40px;
  max-width: 383px;
  padding: 30px 26px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__articles {
    display: grid;
    gap: 28px;
  }

  &__article {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 18px;
  }

  &__image {
    width: 122px;
    height: 122px;
    border-radius: 13px;
  }

  &__content {
    display: grid;
    justify-content: space-between;
  }

  &__title {
    font-size: var(--formTitle);
    margin-bottom: 12px;
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 12px;

    p:nth-child(1) {
      color: var(--gold);
      font-size: 14px;
    }

    p:nth-child(2) {
      font-size: 10px;
      text-decoration: line-through;
    }
  }
  &__accountant {
    border: 1px solid var(--gray3);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 122px;
  }

  &__res,
  &__sum {
    background-color: var(--gray5);
    height: 19px;
    width: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--gray3);
    cursor: pointer;
    border: none;
  }

  &__result {
    color: var(--gray1);
  }

  &__totals {
    width: 100%;

    div {
      border-top: 1px solid var(--gray4);
      display: flex;
      font-size: 14px;
      justify-content: space-between;
      padding: 12px 0;
    }

    div:nth-child(2) {
      padding-bottom: 0;
    }

    p {
      color: var(--gray1);
    }
  }
}

.form {
  max-width: 465px;

  &__contacto {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
  }

  .error {
    .form__label {
      color: red;
      &::after {
        content: '* Required';
        color: red;
      }
    }

    .form__input,
    .form__select {
      border: 1px solid red;
    }

    .material-icons {
      color: red;
    }
  }

  &__title {
    font-size: 14px;
    color: var(--gray1);
    margin-bottom: 8px;
  }

  &__label {
    font-size: 10px;
    color: var(--gray2);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__group {
    position: relative;
    width: 100%;

    span:nth-child(3) {
      right: 12px;
      left: initial;
      z-index: -1;
    }
  }

  &__input,
  &__select {
    height: 40px;
    width: 100%;
    border: 1px solid var(--gray3);
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 12px;
    font-size: 12px;
    color: var(--gray1);
    font-family: var(--montserrat);
    font-weight: 600;
    outline-style: none;
    padding-left: 40px;

    &:hover {
      border: 1px solid var(--gold);
      color: var(--gold);
    }

    &:hover + .material-icons,
    &:hover + .material-icons + .material-icons {
      color: var(--gold);
    }

    &:focus {
      border: 1px solid var(--gold);
      color: var(--gold);
    }

    &:focus + .material-icons,
    &:focus + .material-icons + .material-icons {
      color: var(--gold);
    }
  }

  &__groupItems {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 8px;
  }

  &__groupCheck {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__checkbox {
    height: 15px;
    width: 15px;
  }

  &__button {
    background-color: var(--gold);
    border: none;
    color: #fff;
    width: 166px;
    height: 54px;
    border-radius: 12px;
    align-self: end;
    font-family: var(--montserrat);
    font-size: 16px;
    margin-top: 37px;
    cursor: pointer;
    transition-duration: 0.3s;

    &:active {
      transform: translateY(3px);
    }
  }

  &__select {
    appearance: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.material-icons {
  color: var(--gray3);
  font-size: 15px;
  position: absolute;
  top: calc(50% - 7.5px);
  left: 12px;
}

.message {
  background-color: hsl(120, 100%, 25%);
  color: hsl(0, 0%, 100%);
  padding: 5px;
  text-align: center;
  margin-bottom: 45px;
  display: none;

  &.active {
    display: inline-block;
  }
}

.footer {
  color: var(--gray4);
  font-size: 14px;
  text-align: center;
  padding-bottom: 24px;
}

@media screen and (min-width: 900px) {
  .info {
    height: 535px;

    &__articles {
      gap: 31px;
    }

    &__article {
      gap: 21px;
    }

    &__image {
      width: 134px;
      height: 134px;
    }

    &__title {
      font-size: var(--formTitle);
    }
    &__price {
      p:nth-child(1) {
        font-size: 16px;
      }

      p:nth-child(2) {
        font-size: 12px;
      }
    }

    &__res,
    &__sum {
      height: 21px;
      width: 21px;
    }

    &__totals {
      div {
        font-size: 16px;
      }
    }
  }

  .form {
    &__contacto {
      margin-bottom: 58px;
    }

    &__group {
      span:nth-child(3) {
        right: 14px;
      }
    }

    &__title {
      font-size: 18px;
    }

    &__label {
      font-size: 12px;
    }

    &__input,
    &__select {
      font-size: 16px;
      height: 56px;
    }

    &__groupItems {
      gap: 31px;
    }

    &__groupCheck {
      gap: 11px;
    }

    &__checkbox {
      height: 21px;
      width: 21px;
    }
  }

  .material-icons {
    font-size: 20px;
    top: calc(50% - 14px);
    left: 14px;
  }
}
