@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;500;700&family=Montserrat:wght@300;500;700&display=swap');

:root {
  //Colors
  --black: #181719;
  --white: #ffffff;
  --gray: #828282;

  //Fonts
  --crimson: 'Crimson Pro', serif;
  --lora: 'Lora', serif;
  --montserrat: 'Montserrat', sans-serif;
}

html,
body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--montserrat);
  height: 100vh ;
  min-height: 48.5rem;
  min-width: 23.4375rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spaceLateral {
  padding: 0 0.75rem;

  @media screen and (min-width: 50rem) {
    padding: 0 2.5rem;
  }

  @media screen and (min-width: 76.25rem) {
    padding: 0 0;
  }
}
